@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --sl-font: 'Nunito Variable', sans-serif;
    --sl-sidebar-width: 15rem;
    --sl-content-width: 60rem;
  }

  .btn,
  .border,
  [class*='border-'] {
    @apply border-solid;
  }

  .k-dialog {
    margin: revert;

    &:where(.k-dialog--non-modal) {
      border-width: revert;
    }
  }
}

@layer components {
  .playground {
    @apply outline-base-300 border-base-300 rounded-lg bg-base-100;
  }

  .bg-grid {
    --_grid-edge-color: rgba(0, 0, 0, 0.1);
    background: linear-gradient(
        90deg,
        transparent 49.5%,
        var(--_grid-edge-color) 50%,
        var(--_grid-edge-color) 51.5%,
        transparent 52%
      ),
      linear-gradient(
        transparent 49.5%,
        var(--_grid-edge-color) 50%,
        var(--_grid-edge-color) 51.5%,
        transparent 52%
      );

    @apply dark:[--_grid-edge-color:rgba(200,200,200,0.1)] bg-[length:50px_50px];
  }
}

@layer utilities {
  .text-gradient {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &.gradient-fall {
      color: #f7941d;
      background-image: linear-gradient(
        45deg,
        #f7941d 12%,
        #d35400 60%,
        #9e2800 20%,
        #791800 20%,
        #550a00 43%
      );
    }

    &.gradient-leaf {
      color: #008947;
      background-image: linear-gradient(
        45deg,
        #008947 15%,
        #009654 19%,
        #00a361 46%,
        #00b06e 3%,
        #00bd7b 37%
      );
    }

    &.gradient-maple {
      color: #be4146;
      background-image: linear-gradient(45deg, #be4146 45%, #d26764 37%, #f2acac 93%);
    }

    &.gradient-fire {
      color: #ff4000;
      background-image: linear-gradient(45deg, #ff4000 50%, #ff5700 25%, #ff6e00 64%, #ff8500 76%);
    }
  }

  .bg-gradient-wave {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradientWave 4s ease infinite;
  }
}

/* Light mode colors. */
:root[data-theme='light'] {
  --sl-color-accent-low: #b0deff;
  --sl-color-accent: #0073aa;
  --sl-color-accent-high: #003653;
  --sl-color-white: #121a1c;
  --sl-color-gray-1: #182a2f;
  --sl-color-gray-2: #2a3b41;
  --sl-color-gray-3: #495c62;
  --sl-color-gray-4: #7b8f96;
  --sl-color-gray-5: #bac4c8;
  --sl-color-gray-6: #e7eff2;
  --sl-color-gray-7: #f3f7f9;
  --sl-color-black: #ffffff;

  --rounded-btn: 0.5rem;
}

@view-transition {
  navigation: auto;
}

:where(.not-content) {
  button {
    margin: revert-layer;
  }
}

code {
  overflow-wrap: revert;
  border-radius: 4px;
}

.card {
  border-radius: 0.25rem;
}

.sl-markdown-content {
  kbd {
    @apply kbd m-0;
  }
}

@keyframes gradientWave {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
