---
import {Terminal} from '@kaiverse/k/ui'
---

<div class="container mx-auto not-content">
  <Terminal
    title="Terminal in Astro island"
    greeting="Try type something and then command clear to clear the logs."
    client:load
  />
</div>
